html{
    font-family: 'Big Shoulders Inline Display', cursive;
font-family: 'Cantarell', sans-serif;
font-family: 'Darker Grotesque', sans-serif;
    font-size: 62.5%;     /* Normalizar para REMS */
}

body{
    font-size: 1.6rem;
}

/* Principales */
h1{
    font-size: 4rem;

}
h2{
    font-size: 3.6rem;
}

h3{
    font-size: 3rem;
}

h4{
    font-size: 2.6rem;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.espacio{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw300{
    font-weight: 300;
}
.centrar-texto{
    text-align: center;
}

img{
    max-width: 100%;
}

/* header */
.site-header{
    background-image: url(../imagen/pexels-andrea-piacquadio-3757055.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 40rem;
}

.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10rem;
}

/* navegacion */
.navegacion a{
    color: rgb(77, 71, 54);
    text-decoration: none;
    font-size: 2.6rem;
    margin-right: 5rem;
}

.navegacion a:hover{
    color: rgb(47, 46, 53); /* Color de menú */
}

.navegacion a:last-of-type{
    margin: 0;
}



/* oferta de servicios */
.oferta{
    display: flex;
    justify-content: space-between;
}

.servicio{
    flex-basis: calc(25% - 1rem);
    border-style: dotted;
    border-color: grey;
    border-width: .2rem;
    border: .1rem solid gray;
}

.contenido-servicio{
    padding: 2rem;
    text-align: center;
}


.precio{
    color: rgb(223, 134, 25);
    font-weight: 700;
}